:root {
  --color-blue: #412DEE;
  --color-red: #FF0032;
  --color-dark: #212930;
}

@font-face {
    font-family: 'Axiforma-ExtraBold';
    src: url('../assets/fonts/Axiforma-ExtraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .pushable {
    font-size: 2.2rem;
    font-family: AxiformaExtraBold, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    border-radius: 50%; /* Make the button circular */
    width:300px;
    height:300px;
    min-height: 300px;
    margin: 150px auto 0;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
      border-radius: 50%; /* Make the button circular */
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
    border-radius: 50%; /* Make the button circular */
  }
  .front {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color-red);
    will-change: transform;
    transform: translateY(-10px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
    border-radius: 50%; /* Make the button circular */
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-20px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-4px);
    transition: transform 34ms;
    filter: brightness(120%);
  }
  .pushable:hover .shadow {
    transform: translateY(12px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  @media screen and (min-width: 1600px) {
    .pushable {
      width:450px;
      height:450px;
      font-size:3rem;
      min-height: 450px;
      margin:80px auto 0;
    }
  }

  @media screen and (max-width: 1600px) {
    .pushable {
      width:450px;
      height:450px;
      font-size:3rem;
      min-height: 450px;
      margin:80px auto 0;
    }
  }

  @media screen and (max-width: 1200px) {
    .pushable {
      width:350px;
      height:350px;
      font-size:2rem;
      min-height: 350px;
      margin:80px auto 0;
    }
  }

  @media screen and (max-width: 550px) {
    .pushable {
      width:350px;
      height:350px;
      font-size:2rem;
      min-height: 350px;
      margin:80px auto 0;
    }
  }