@font-face {
  font-family: Axiforma;
  src: url('../assets/fonts/Axiforma-Medium.woff2') format("woff2"), url('../assets/fonts/Axiforma-Medium.woff2') format("woff");
  font-weight: 700;
  font-style: normal;
}

.custom-navbar {
  background-color: #ff0032;
  padding: 9px 30px;
  height: 60px;
}

.header-nav-links {
  display: flex!important;
  align-items: center; /* Align text vertically in the center */
}

.header-nav-link {
  font-family: Axiforma, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  line-height: 13px;
  border-bottom: 2px solid transparent;
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  transition: border-bottom .1s ease-in-out;
}

.header-nav-link:hover {
  border-bottom: 2px solid #fff;
}

.header-nav-end {
  display: flex!important;
  align-items: center!important;
  justify-content: flex-end!important;
  flex-wrap: nowrap!important;
  font-family: Axiforma, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

.header-nav-end-link {
  margin: 0 10px;
  transition: all .3s ease-in-out;
  color: #fff!important;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #ff0032;
  padding: 7px 15px;
  text-decoration: none;
  min-width: 0;
}

.header-nav-end-button {
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: border-bottom .1s ease-in-out;
  margin: 0 0 0 10px;
}

.header-nav-end-button:hover {
  border-bottom: 2px solid #fff;
}
